/* line 2, ../../compass/sass/style.sass */
body ul {
  list-style: none;
}
/* line 4, ../../compass/sass/style.sass */
body ul li {
  color: #4dcbcb;
}

/* line 7, ../../compass/sass/style.sass */
.bolder {
  font-weight: bold;
  color: #146059;
}
